@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.header__container{
  @include flexCenter;

  width: 100%;
  height: 10vh;

  background-color: $blue;

  
  
  a{
    @include flexCenter;
    gap: .5rem;
    text-decoration: none;
    
    h1{
      font-size: 1.5rem;
      color: white;
    }
  
    img{
      // width: 30%;
      width: 2rem;
    }
  }

 
}