@use '../mixins.scss' as *;
@use '../variables.scss' as *;

h2{
  margin-top: 2.2rem;
  font-size: 1.8rem;
}

.card__container{
  margin-top: 1.5rem;
  
  width: 50%;
  @include respond-to-max(900px){
    width: 70%;
  }
  @include respond-to-max(768px){
    width: 90%;
  }

  background-color: $card-color;
  border-radius: 1rem;

  @include flexCenter();
  gap: 1.5rem;
  flex-direction: column;

  @include cardShadow();

  p{
    font-size: 1.2rem;
  }

  margin-bottom: 2rem;
  padding-bottom: 1rem;

}

.title__container{
  width: 100%;
  // @include flexCenter();
  display: flex;
  align-items: center;

  // justify-content: flex-start;
  // gap: 10rem;
  
  img{
    max-width: 40%;
    border-radius: .5rem;
  }

  h3{
    font-size: 1.6rem;
    flex: 1;
    text-align: center;
  }
}

.distance__container{
  @include flexCenter();
}

.distance__icon{
  font-size: 1.5rem;
}