
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cardShadow{
  box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.41);
  -webkit-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.41);
  -moz-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.41);
}

@mixin respond-to-max($size) {
  @media (max-width: $size) {
    @content;
  }
}
@mixin respond-to-min($size) {
  @media (min-width: $size) {
    @content;
  }
}